<h1>Edit Your Poem</h1>

<% if flash[:errors] %>
    <ul>
        <% flash[:errors].each do |error| %>
            <li>
                <%= error %>
            </li>
        <% end %>
    </ul>
<% end %>

<%= form_for @poem do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>

    <%= f.label :content %>
    <%= f.text_area :content, cols: 50, rows: 15 %>
    <br>

    <%= f.label :poem_type %>
    <%= f.select :poem_type, Poem.types %>
    <br>

    <%= f.label :add_a_writer %>
    <%= f.text_field :add_a_writer %>
    <br>

    <%= f.submit %>
    
<% end %>

<%= button_to "Delete", poem_path(@poem), data: { confirm: "Are you sure?" }, method: "delete" %>

<%= button_to "Cancel", poem_path(@poem), method: "get" %>

