<style>
  body{
    background-image: url('/assets/cloud_back.png');
    background-size:cover;
      
  }
</style>

<% if flash[:notices] %>
    <div class="isa_success">
        <i class="fa fa-check"></i>
        <% flash[:notices].each do |notice| %>
            <%= notice %>
        <% end %>
    </div>
<% end %>

<h1 style ="color:white;">Recently Updated Poems</h1>

<div class="form">
    <% @poems.sort{ |a,b| b.updated_at <=> a.updated_at }.each do |poem| %>
        <%= link_to poem.title, poem_path(poem) %> - <%= poem.created_or_edited %> <%= poem_edited_date_format(poem) %> by <%= poem.last_editor %><br>
    <% end %>
</div>
