<style>
  body{
    background-image: url('/assets/beige_back.jpeg');
    background-size:cover;
      
  }
</style>

<h1>Create a Poem</h1>

<% if flash[:errors] %>
    <div class="isa_error">
        <% flash[:errors].each do |error| %>
            <i class="fa fa-times-circle"></i><%= error %>.<br>
        <% end %>
    </div>
<% end %>

<div class="form">
    <%= form_for @poem do |f| %>
        
        <%= f.label :title %><br>
        <div class="textbox1">
        <%= f.text_field :title %>
        
        </div>
       
        <%= f.label :content %><br>
        <div class="textbox1">
        <%= f.text_area :content, cols: 50, rows: 15 %>
        
        </div>
        
        <%= f.label :poem_type %><br>
        <div class="textbox1">
        <%= f.select :poem_type, Poem.types, placeholder:"types" %>
        <br>
        </div>
        <div class="textbox1">
        <%= f.label :add_a_writer %><br>
        <%= f.text_field :add_a_writer, placeholder:"Enter a username" %>
        </div>
        
        <br>
        <div>
       <div class="b1">
        <%= f.submit %>
       </div>
      
        
    <% end %>
    <section id ='b2'>
    <%= button_to "Cancel", poems_path, method: "get" %>
    
    </div>
    </div>
</div>