<style>
    body{
    background-image: url('/assets/mouse_back.png');
    background-size:cover;
        
    }
</style>

<div class="signup_form">
<h2>Sign Up</h2>
    <%= form_for @user do |f| %>
        
        <div class="textbox">
        <i class="fa fa-address-book" aria-hidden="true"></i>
        <%= f.text_field :first_name, placeholder:"First name" %><br>
        </div>

        <div class="textbox">
        <i class="fa fa-user-plus" aria-hidden="true"></i>
        <%= f.text_field :last_name, placeholder:"Last name" %><br>
        </div>
        <div class="textbox">
        <i class="fa fa-user" aria-hidden="true"></i>
          <%= f.text_field :username, placeholder: "Username" %><br>
          </div>
          <div class="textbox">
        <i class="fa fa-lock" aria-hidden="true"></i>
          <%= f.password_field :password, placeholder: "Password" %><br>
        </div>
        <%= f.submit "Create Account" %>
    <% end %>
</div>

<% if flash[:errors] %>
    <div class="isa_error">
        <% flash[:errors].each do |error| %>
            <i class="fa fa-times-circle"></i><%= error %>.<br>
        <% end %>
    </div>
<% end %>
