<style>
    body{
    background-image: url('/assets/mouse_back.png');
    background-size:cover;
        
    }
</style>

<% if flash[:errors] %>
    <ul>
        <% flash[:errors].each do |error| %>
            <li>
                <%= error %>
            </li>
        <% end %>
    </ul>
<% end %>

<h1>Sign Up</h1>

<div class="sign_up_form">
    <%= form_for @user do |f| %>
        <%= f.label :first_name %><br>
        <%= f.text_field :first_name %><br>

        <%= f.label :last_name %><br>
        <%= f.text_field :last_name %><br>

        <%= f.label :username %><br>
        <%= f.text_field :username %><br>

        <%= f.label :password %><br>
        <%= f.password_field :password %><br>

        <%= f.submit "Create Account" %>
    <% end %>
</div>

