<style>
    body{
        background-image: url('/assets/lightbulb_back.png');
        background-size:cover;
    }
</style>

<h1>Create an Essay</h1>

<% if flash[:errors] %>
    <div class="isa_error">
        <% flash[:errors].each do |error| %>
            <i class="fa fa-times-circle"></i><%= error %>.<br>
        <% end %>
    </div>
<% end %>

<div class="form">
    <%= form_for @essay do |f| %>

        <%= f.label :title %><br>
        <%= f.text_field :title %>
        <br>

        <%= f.label :content %><br>
        <%= f.text_area :content, cols: 50, rows: 15 %>
        <br>

        <%= f.label :essay_type %><br>
        <%= f.select :essay_type, Essay.types %>
        <br>

        <%= f.label :add_a_writer %><br>
        <%= f.text_field :add_a_writer %>
        <br>

        <%= f.submit %>
        
    <% end %>

    <%= button_to "Cancel", essays_path, method: "get" %>
</div>