<style>
  body{
    background-image: url('/assets/cloud_back_2.jpeg');
    background-size:cover;
      
  }
</style>

<% if flash[:success] %>
    <div class="isa_success">
        <i class="fa fa-check"></i>
        <% flash[:success].each do |notice| %>
            <%= notice %>
        <% end %>
    </div>
<% end %>

<% if flash[:messages] %>
    <div class="isa_info">
        <i class="fa fa-info-circle"></i>
        <% flash[:messages].each do |message| %>
            <%= message %>
        <% end %>
    </div>
<% end %>

<div class="form">
    <h1><%= @essay.title %></h1>
    <h4><%= @essay.essay_type %> Essay by <%= @essay.contributors %></h4>
    <p><%= @essay.content %></p>
    <%= button_to "Edit", edit_essay_path(@essay), method: "get" %>
</div>
